name: CD workflows

on:
    push:
        branches:
            - main

env:
    NODE_VERSION: 20

jobs:
    deploy:
        name: Deploy Application
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5

            - uses: ./.github/composite

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            
            - name: Build docker
              run: docker build . -t bluminhcu/test3:${{ github.sha }}

            - name: Echo docker
              run: docker push bluminhcu/test3:${{ github.sha }}
