name: CI workflows

on:
    pull_request:
        branches:
            - main

env:
    NODE_VERSION: 22

jobs:
    unit-tests:
        name: Run Unit Tests
        runs-on: ubuntu-latest

        steps:
            - uses: ./.github/