name: CI workflows

on:
    push:
        branches:
            - main

env:
    NODE_VERSION: 20

jobs:
    unit-tests:
        name: Run Unit Tests
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5

            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Run tests
              run: npm run nottest

    lint:
        name: Run Linting
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5

            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Run lint
              run: npm run notlint